#sidebar
	.aside-block
		%h6 客服信息
		%ul
			%li.phone
				客服电话：400-6368-168
			%li.email
				客服邮箱：
				%a{href:'mailto:support@domob.cn'}  support@domob.cn
			%li.qq
				客服ＱＱ：
				%a{target:"_blank",href:'#'}
			%li.msn
				客服MSN：support@domob.cn