.regitem {
  display: inline-block;
  -display:inline;
  -zoom:1;
  width: 100px;
  text-align: right;
  height: 27px;
  line-height: 24px;
}
.register {
  color: #6092b5;
}
.line {
  margin-bottom: 10px;
}
.errmsg {
  color:red;
  margin:auto 10px;
}
.btn {
  float: right;
  cursor: pointer;
  margin-right: 50px;
  font-size: 12px;
  color: #fff;
  width: 95px;
  height: 40px;
  background-color: #96c3cf;
  border: 1px solid #79b0bf;
  border-radius: 4px 4px;
  box-shadow: 1px 1px 2px #ccc;
}