/*****************mask*************************/
.masking{ background-color:#000000; left:0; opacity:0.46; position:absolute; top:0;_filter:alpha(opacity=46); }
.interactive-wrapper .loading{
	background: image-url("advertiser/ajax_loader_min.gif") no-repeat scroll 0 center transparent;
	padding-left: 20px;
}
/*button*/

/***************arrowbox******************
.arrowbox{position:absolute; top:100px; left:100px; text-align: left;clear:both;float:none;background: transparent url(/resources/core/plugin/interactive/default/interactive_bg.png) repeat 0 0;padding:4px;
	-webkit-box-shadow: -1px -2px 7px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: -1px -2px 7px 0px rgba(0, 0, 0, 0.6);
	box-shadow: -1px -2px 7px 0px rgba(0, 0, 0, 0.6);
	z-index: 901;
}
.arrowbox .interactive-wrapper{padding:7px;background: transparent url(/resources/core/plugin/interactive/default/interactive_bg.png) repeat 0 0;}
.arrowbox .jquery-interactive-wrapper{border:medium null;_zoom:1}
.arrowbox .jquery-interactive-wrapper td{border:medium null;padding:0;}
.arrowbox .jquery-interactive-wrapper .wrapperTL,.arrowbox .jquery-interactive-wrapper .wrapperTR,.arrowbox .jquery-interactive-wrapper .wrapperBL,.arrowbox .jquery-interactive-wrapper .wrapperBR{
	padding-left:4px;height:4px;width:0px;word-spacing:-5px;
	background-color:#fff;
}
.arrowbox .jquery-interactive-wrapper .wrapperTC,.arrowbox .jquery-interactive-wrapper .wrapperML,.arrowbox .jquery-interactive-wrapper .wrapperMR,.arrowbox .jquery-interactive-wrapper .wrapperBC{
	padding-left:4px;word-spacing:-5px;width:0px;
	background-color:#fff;
}
.arrowbox .interactive-arrow{display:block;background-image: url(/resources/core/plugin/interactive/default/arrow.gif);background-repeat: no-repeat;position:absolute;text-indent:-99px;overflow:hidden;z-index:10}
.arrowbox .interactive-arrow-up{background-position:-15px 0; width:15px;height:8px;bottom:-4px;_bottom:-7px}
.arrowbox .interactive-arrow-down{background-position:-15px -7px; width:15px;height:8px;top:-4px;_top:-7px}
.arrowbox .interactive-arrow-left{background-position:0 0; width:8px;height:15px;right:-4px;_right:-7px}
.arrowbox .interactive-arrow-right{background-position:-7px 0; width:6px;height:12px;left:-2px;_left:-6px} 
.arrowbox .interactive-title{}
.arrowbox .interactive-title h2{font-weight: normal;margin-bottom:0;padding: 0 0 7px;color:#fff;height:18px;line-height:18px;color:#fff;font-size:14px;}
.arrowbox .interactive-title .interactive-closed{ position:absolute; right:0px; top:0px;z-index:9}
.arrowbox .interactive-title .interactive-closed a{ text-decoration:none;}
.arrowbox .interactive-title .interactive-closed .close_gray{ position:static}
.arrowbox .close_gray:hover .icon{ background-position:0 -5em;}
.arrowbox .interactive-main{position:relative;min-width:220px;word-wrap: break-word;_zoom:1}
.arrowbox .interactive-main:after{ content:"."; clear:both; display:block; height:0;  visibility:hidden}
.arrowbox .interactive-main .interactive-content{padding:0 12px 12px;background-color:#fff;}
.arrowbox .interactive-main .interactive-error{ position:relative;margin:10px 10px 0; padding:5px 20px 5px 5px; color:#c33;background:#FFE3DF;border:1px solid #F77677;display:none;}
.arrowbox .interactive-main .interactive-error a{ position:absolute;right:5px;_right:18px;}
.arrowbox .interactive-success{padding:2em 0;text-align:center;color: #72BA0C;font-size: 14px;font-weight: bold;display:none;}

.arrowbox .interactive-bottom{ background-color:#fff;padding:0 0px 10px;text-align:right;min-width:164px;_width:164px;_overflow:visible}
.arrowbox .interactive-bottom button{padding:0; *margin: 0 5px;}
.arrowbox .interactive-bottom .interactive-loading{display:inline-block; height:16px; width:16px; padding-right:5px; font-size:0;*line-height:0px; *overflow:hidden;background: url(/resources/core/plugin/interactive/default/ajax_loader_min.gif) no-repeat;visibility:hidden; position:absolute;left:10px;bottom:14px}
*/
/***************arrowbox*******************/
//.arrowbox{position:absolute; top:100px; left:100px; text-align: left;clear:both;float:none;z-index: 901;}
//.arrowbox .interactive-wrapper{padding:0;color:#ffffff;background:#555555;border:1px solid #555555; border-radius: 2px;box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);}
//.arrowbox .jquery-interactive-wrapper{border:medium null;_zoom:1}
//.arrowbox .jquery-interactive-wrapper td{border:medium null;padding:0;}
//.arrowbox .jquery-interactive-wrapper .wrapperTL
//	padding-left:3px;height:3px;width:0px;word-spacing:-5px;
//	background:image-url("advertiser/wrapperTL.png") no-repeat 0 0;
//	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=crop , src="/advertiser/wrapperTL.png" );
//	_background:transparent none;
//
//.arrowbox .jquery-interactive-wrapper .wrapperTR
//	padding-left:3px;height:3px;width:0px;word-spacing:-5px;
//	background:image-url("advertiser/wrapperTR.png") no-repeat 0 0;
//	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=crop , src="/advertiser/wrapperTR.png" );
//	_background:transparent none;
//.arrowbox .jquery-interactive-wrapper .wrapperBL
//	padding-left:3px;height:3px;width:0px;word-spacing:-5px;
//	background:image-url("advertiser/wrapperBL.png") no-repeat 0 0;
//	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=crop , src="/advertiser/wrapperBL.png" );
//	_background:transparent none;
//.arrowbox .jquery-interactive-wrapper .wrapperBR
//	padding-left:3px;height:3px;width:0px;word-spacing:-5px;
//	background:image-url("advertiser/wrapperBR.png") no-repeat 0 0;
//	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=crop , src="/advertiser/wrapperBR.png" );
//	_background:transparent none;
//
//.arrowbox .jquery-interactive-wrapper .wrapperTC,.arrowbox .jquery-interactive-wrapper .wrapperML,.arrowbox .jquery-interactive-wrapper .wrapperMR,.arrowbox .jquery-interactive-wrapper .wrapperBC
//	padding-left:3px;word-spacing:-5px;width:0px;
//	background:image-url("advertiser/wrapperC.png") repeat 0 0;
//	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=scale , src="/advertiser/wrapperC.png" );
//	_background:transparent none;
//
//.arrowbox .interactive-arrow{display:block;background-image: url(/advertiser/arrow.gif);background-repeat: no-repeat;position:absolute;text-indent:-99px;overflow:hidden;z-index:10}
//.arrowbox .interactive-arrow-up{background-position:-8px 0; width:8px;height:4px;bottom:-4px;_bottom:-7px}
//.arrowbox .interactive-arrow-down{background-position:-8px -4px; width:8px;height:4px;top:-4px;_top:-7px}
//.arrowbox .interactive-arrow-left{background-position:0 0; width:4px;height:8px;right:-4px;_right:-7px}
//.arrowbox .interactive-arrow-right{background-position:-4px 0; width:4px;height:8px;left:-4px;_left:-6px}
//.arrowbox .interactive-title{padding:12px 10px 0;color:#333333;font-size:14px;}
//.arrowbox .interactive-title h2{font-weight: bold;font-size:12px;margin-bottom:0}
//.arrowbox .interactive-title .interactive-closed{ position:absolute; right:0px; top:2px;z-index:9}
//.arrowbox .interactive-title .interactive-closed a{ text-decoration:none;}
//.arrowbox .interactive-title .interactive-closed .close_gray{ position:static}
//.arrowbox .close_gray:hover .icon{ background-position:0 -5em;}
//.arrowbox .interactive-main{position:relative;min-width:220px;word-wrap: break-word;_zoom:1}
//.arrowbox .interactive-main:after{ content:"."; clear:both; display:block; height:0;  visibility:hidden}
//.arrowbox .interactive-main .interactive-content{padding:0 12px 12px;}
//.arrowbox .interactive-main .interactive-error{ position:relative;margin:0 0 10px; padding:5px 20px 5px 5px; color:#c33;background:#FFE3DF;border:1px solid #F77677;display:none;}
//.arrowbox .interactive-main .interactive-error a{ position:absolute;right:5px;_right:18px;}
//.arrowbox .interactive-success{padding:2em 0;text-align:center;color: #72BA0C;font-size: 14px;font-weight: bold;display:none;}
//
//.arrowbox .interactive-bottom{ padding:1em 0px 8px;min-width:164px;_width:164px;_overflow:visible}
///*.arrowbox .interactive-bottom button{padding:0; *margin: 0 5px;}*/
//.arrowbox .interactive-bottom .interactive-loading{display:none; height:16px; width:16px; padding-right:5px; font-size:0;*line-height:0px; *overflow:hidden;background: url(/resources/core/plugin/interactive/default/ajax_loader_min.gif) no-repeat;visibility:hidden; position:absolute;left:10px;bottom:14px}
//

/*
#jquery-interactive-box2.arrowbox{
	padding:1px 1px 6px 6px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 10px 5px 10px 10px;
	border-radius: 10px 5px 10px 10px;
	-webkit-box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.6);
	box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.6);
}
#jquery-interactive-box2.arrowbox .interactive-wrapper{
	background:#fff none;border:medium none;
	padding:6px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
#jquery-interactive-box2.arrowbox .interactive-content{
	padding:0;
}
#jquery-interactive-box2.arrowbox .interactive-arrow-up{background-position:-15px 0; width:15px;height:8px;bottom:-8px;_bottom:-7px}
#jquery-interactive-box2.arrowbox .interactive-arrow-down{background-position:-15px -7px; width:15px;height:8px;top:-8px;_top:-7px}
#jquery-interactive-box2.arrowbox .interactive-arrow-left{background-position:0 0; width:8px;height:15px;right:-12px;_right:-16px}
#jquery-interactive-box2.arrowbox .interactive-arrow-right{background-position:-7px 0; width:6px;height:12px;left:-12px;_left:-16px}
*/
#jquery-interactive-blockbox.arrowbox{
	position:absolute;
	top:100px;
	left:100px;
}
#jquery-interactive-blockbox.arrowbox .interactive-main{
	background:transparent none;
	padding: 30px 50px;
}
#jquery-interactive-blockbox.arrowbox .interactive-wrapper{
	background-color:#ffffff;
	border:1px solid #ffffff;
	padding:0;
	border-radius: 0;
	color:#515151;
}
#jquery-interactive-blockbox.arrowbox .interactive-content{
	background: transparent none;
	padding: 0;
}
#jquery-interactive-blockbox.arrowbox .interactive-bottom{
	background: transparent none;
}
#jquery-interactive-blockbox.arrowbox .interactive-title{
	position: relative;
	padding:0 0 19px;
}
#jquery-interactive-blockbox.arrowbox .interactive-title h2{
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 0;
}
#jquery-interactive-blockbox.arrowbox .interactive-title .interactive-closed {
	font-size: 12px;
	top: 0;
}
#jquery-interactive-blockbox.arrowbox .interactive-title .interactive-closed a{}


#jquery-interactive-errormsg.arrowbox{background:transparent none;
border:medium none;
padding:0;box-shadow: 0 0 0 0 transparent;}
#jquery-interactive-errormsg.arrowbox .interactive-main{padding: 0;min-width:4em;_width:auto;background:transparent none;_zoom:1}
#jquery-interactive-errormsg.arrowbox .interactive-arrow{display:none}
#jquery-interactive-errormsg.arrowbox .interactive-title{display:none}
#jquery-interactive-errormsg.arrowbox .interactive-wrapper{color:#bc0a0a;line-height:30px;padding:0;background:transparent none;border:medium none;box-shadow:none;}
#jquery-interactive-errormsg.arrowbox .interactive-main .interactive-content{padding:0;_zoom:1;background:transparent none;}
#jquery-interactive-errormsg.arrowbox .interactive-main .interactive-content .icon{margin-right:4px;}

#jquery-interactive-successmsg.arrowbox{background:transparent none;
border:medium none;
color:#709804;line-height:30px;padding:0;box-shadow: 0 0 0 0 transparent;}
#jquery-interactive-successmsg.arrowbox .interactive-main{padding: 0;min-width:4em;_width:auto;background:transparent none;_zoom:1}
#jquery-interactive-successmsg.arrowbox .interactive-arrow{display:none}
#jquery-interactive-successmsg.arrowbox .interactive-title{display:none}
#jquery-interactive-successmsg.arrowbox .interactive-wrapper{padding:0;background:transparent none;border:medium none;}
#jquery-interactive-successmsg.arrowbox .interactive-main .interactive-content{padding:0;_zoom:1;background:transparent none;}
#jquery-interactive-successmsg.arrowbox .interactive-main .interactive-content .icon{margin-right:4px;}


#jquery-interactive-noticemsg.arrowbox{background:transparent none;
border:medium none;
color:#2e2e60;line-height:30px;padding:0;box-shadow: 0 0 0 0 transparent;}
#jquery-interactive-noticemsg.arrowbox .interactive-main{padding: 0;min-width:4em;background:transparent none;}
#jquery-interactive-noticemsg.arrowbox .interactive-arrow{display:none}
#jquery-interactive-noticemsg.arrowbox .interactive-title{display:none}
#jquery-interactive-noticemsg.arrowbox .interactive-wrapper{padding:0;background:transparent none;border:medium none;}
#jquery-interactive-noticemsg.arrowbox .interactive-main .interactive-content{padding:0;_zoom:1;background:transparent none;}
#jquery-interactive-noticemsg.arrowbox .interactive-main .interactive-content .icon{margin-right:4px;}

.interactive-plusminus{
	font-size:22px;
	height:88px;
	overflow:hidden;
	z-index:1999;padding:0;
}
.interactive-plusminus .expander{
	height:66px;
}
.interactive-plusminus span.plus{
	color:#72BA0C;
}
.interactive-plusminus span.minus{
	color:#FF5D00;
}

#jquery-interactive-inbox.arrowbox{
	position:relative;
	top:0;
	left:0;
}
#jquery-interactive-inbox.arrowbox .interactive-wrapper{
	background: transparent none;
	box-shadow: none;
	border: medium none;
}
#jquery-interactive-inbox.arrowbox .interactive-wrapper {
    color: #515151;
}
#jquery-interactive-inbox.arrowbox .interactive-title h2{
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 0;
}
.databox{
	border: 1px solid #a4a4a4;
	border-radius: 4px;
	background-color: #f8f8f8;

	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
}
.databox .databox_options{
	height: 40px;
	line-height: 40px;
	padding:0 1.5em;
}
.databox .databox_options .opt_right{
	float: right;
}
.opt_right .pager{
	display: inline-block;
	vertical-align: middle;
	margin-right: 2em;
}
.opt_right > *:last-child{
	margin-right: 0;
}
.databox .datatable{
	text-align: left;
	width: 100%;
}
.databox .datatable tbody{
	border-top: 1px solid #a4a4a4;
	border-bottom: 1px solid #a4a4a4;

	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
}
.databox .datatable th, .databox .datatable td{
	padding: 0.8em 1.5em;
	border-bottom: 1px dotted #a4a4a4;
}
.databox .datatable td{
	background-color: #fff;
	vertical-align: top;
}
.databox .datatable td.empty{
	text-align: center;
	padding: 2em;
}
.searchForm{
        position:relative;
        float: right;
}

.searchForm .btn_search{
        position:absolute;
        left: 6px;
        top: 3px;
        background: transparent none;
        border: medium none;
        padding:0;
        margin: 0;
        min-width: 0;
        box-shadow: none;
        border-radius: 0;
}
.searchForm .icon_search_cancel{
        position: absolute;
        right: 3px;
        top: 3px;
        cursor: pointer;
}

.searchInfo .important{
        border-left-color:#A0A0A0;
        margin-bottom: 10px;
}

.searchInfo .backList{
        margin-left: 20px;
}

.searchForm .searchInput{
        width: 160px;
        padding-left: 30px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -o-border-radius: 14px;
        -ms-border-radius: 14px;
        border-radius: 14px;
}

/*List status*/
.normal {
	color: #fff;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #737373;
	padding: 1px 3px 2px;
}
span.rolling {
	background-color: #51B97E;
}
/* 暂停 */
span.break, span.waiting{
	background-color: #7b8ff4;
}
span.auditing, span.done {
	background-color: #F36537;
}
/* 未通过 未投放*/
span.unapproved,span.empty {
	background-color: #F26635;
}
/* 一键推广*/
span.promote {
	background-color: #00A1E9;
}
.report_data .datatable th,
.report_data .datatable td {
	padding: 10px 0 0.8em;
}
.report_data .textellipsis{
	width: 240px;
}
.filters .options{
	padding: 0.5em 0;
}
.fixshape {
	overflow: hidden;
}
.textellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.arrow_up {
	background: image-url("advertiser/arrows.png") no-repeat 0 -26px;
}
.arrow_down {
	background: image-url("advertiser/arrows.png") no-repeat 113px -67px;
}

.tabs .dd {
	float: left;
	width: 154px;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
.tabs a {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}
.tabs .active {
	background-color: #f7f7f7;
	border-radius: 4px 4px 0 0;
	border: 1px solid #a4a4a4;
	border-bottom: none;
}
.addplan {
	position: relative;
}
.planmenu {
	width: 196px;
	border: 1px solid #f26535;
	border-radius: 4px;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(242, 101, 53, 0.5);
	box-shadow:  0px 0px 5px 0px rgba(242, 101, 53, 0.5);
	-webkit-border-radius: 4px;
    position: absolute;
    background-color: #fff;
    top: 36px;
    left: 74px;
    z-index: 1;
}
.planmenu h1 {
	margin: 0;
	font-size: 14px;
	padding-left: 10px;
	height: 30px;
	font-weight: bold;
	line-height: 30px;
}
.planmenu p {
	line-height: 25px;
	padding-left: 10px;
}
.planmenu .info {
	font-size: 12px;
	line-height: 16px;
	padding: 0 8px 5px;
}
.planmenu .btns {
	padding-right: 20px;
	text-align: right;
}

.w10px {width:10px;}
.w20px {width:20px;}
.w30px {width:30px;}
.w40px {width:40px;}
.w50px {width:50px;}
.w60px {width:60px;}
.w70px {width:70px;}
.w80px {width:80px;}
.w90px {width:90px;}
.w100px {width:100px;}
.w110px {width:110px;}
.w120px {width:120px;}
.w130px {width:130px;}
.w140px {width:140px;}
.w150px {width:150px;}
.w160px {width:160px;}
.w170px {width:170px;}
.w180px {width:180px;}
.w190px {width:190px;}
.w200px {width:200px;}
.w210px {width:210px;}
.w220px {width:220px;}
.w230px {width:230px;}
.w240px {width:240px;}
.w250px {width:250px;}
.w260px {width:260px;}
.w270px {width:270px;}
.w280px {width:280px;}
.w290px {width:290px;}
.w300px {width:300px;}
.w310px {width:310px;}
.w320px {width:320px;}
.w330px {width:330px;}
.w340px {width:340px;}
.w350px {width:350px;}
.w360px {width:360px;}
.w370px {width:370px;}
.w380px {width:380px;}
.w390px {width:390px;}
.w400px {width:400px;}

/*
	排期单详细框UI
*/
.scheduleDiv{
	width: 350px;
	height: 250px;
	background:image-url("advertiser/schdetailicon.png") no-repeat 0 0;
	display: none;
	position: absolute;
	left: -241px;
	top: 26px;
	z-index: 100;
}

.datatable .scheduleicon a{
	border: none;
}

.scheduleTable{
	width: 293px;
	margin: 17px 0 0 13px;
}

.scheduleDiv .scheduleTable th{
	padding: 0;
	height: 40px;
	border: none;
	text-align: right;
}

.scheduleDiv .scheduleTable td{
	padding: 0;
	height: 40px;
	border: none;
	background: none;
	text-align: right;
	line-height: 34px;
}

.scheduleIconTd{
	position: relative;
}

.scheduleDiv .scheduleTable .setSchedule{
	border-bottom: 1px dotted #515151;
}

.averageBg{
	background: image-url("advertiser/avgBg.gif") #F7F7F7 no-repeat 12px 7px;
	margin-left: 0.8em;
}

.databox {
	border: 1px solid #a4a4a4;
	border-radius: 4px;
	background-color: #f8f8f8;
	border-top-left-radius:0;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.dataWrap{
	width: 870px;
	margin: 10px auto 10px;
	border: 1px solid #a4a4a4;
	border-radius: 4px;
	background-color: #f8f8f8;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.opt_right{
	position: relative;
}

.pager{
	line-height: 1.62em;
}
.pager .button{
	padding-left: 0.4em;
	padding-right: 0.4em;
}
.pager .pager_position{
	display: inline-block;
	padding-right: 0.5em;
	vertical-align: middle;
}
