#aside
	.aside-act
		.aside_name
			%span 1042342322@.com
		.aside_amount
			%ul.aside_amount_area
				%li 收入余额
				%li.number 0.000
			%ul.aside_amount_area
				%li 未到账金额
				%li.number 0.000
		.aside_btn
			%ul
				%li.btn_withdraw{:style=>'margin-left: 60px;'}
				%a{:href=>'#'} 申请提现