#usermenu{:style=>"height:82px;"}
  #firstlevel
    %ul{:style=>'position:static;width:176px;margin:0 auto;'}
      %li
        %a.lg_left_spon{:href=>'#'}
    %p{:style=>'padding-top:15px;font-size:14px; text-align:right;'}
      %a.aclass1{:href=>'#'}
      %a.aclass2{:href=>'#'}
