#footer
      %a{:href=>"http://www.miibeian.gov.cn/",:target=>"_blank"}京ICP证110535号
      %span &nbsp;&nbsp;
      %a{:href=>"http://www.miibeian.gov.cn/",:target=>"_blank"}京ICP备10219500号
      %span &nbsp;&nbsp;
      %a{:target=>"_blank",:href=>"http://www.pinganhd.com/wzbab/Verify.aspx"}京公网安备110108004220号
      %a{:target=>"_blank",:href=>"http://www.domob.cn/help/index.htm?q=2-0&amp;t=tab3"}隐私政策
      %a{:target=>"_blank",:href=>"http://www.domob.cn/help/index.htm?t=tab3"}服务条款
      %a{:target=>"_blank",:href=>"http://www.domob.cn/news/index.htm?t=tab0"}关于多盟
      %a{:target=>"_blank",:href=>"http://www.domob.cn/aboutus/contact/contact.htm"}联系多盟
      %a{:target=>"_blank",:href=>"http://www.domob.cn/aboutus/index.htm?t=tab3"}招贤纳士
      %a.superstrong{:href=>"http://www.domob.cn/developers/SDKdownload.htm",:target=>"_blank"}SDK下载
= javascript_include_tag "member/base"