#aside
	.aside-block
		%h6 客服信息
		%ul
			%li.phone 客服电话：400-6368-168
			%li.email
				客服邮箱：
				%a{:href=>'1045232@132.com'} 2323232@173.com
			%li.qq
				客服QQ：
				%a{:target=>"_blank",href:'http://crm2.qq.com/page/portalpage/wpa.php?uin=4006368168&cref&ref=&f=1&ty=1&ap=&as=&v='} 4006368168
			%li.msn 客服MSN：support@domob.cn
	%br
	.aside-block
		%h6 开发者常见问题
		%ul
			%li.faq
				%a{:target=>"_blank",href:'#'}  如何创建应用？
			%li.faq
				%a{:target=>"_blank",href:'#'}  如何在应用中展示广告？
			%li.faq
				%a{:target=>"_blank",href:'#'}  什么是测试 Publisher ID
			%li.faq
				%a{:target=>"_blank",href:'#'}  如何查看报表？
			%li.faq
				%a{:target=>"_blank",href:'#'}  如何产生收益？

