.databox{
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  background-color: #f8f8f8;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
}
.databox .databox_options{
  height: 40px;
  line-height: 40px;
  padding:0 1.5em;
}
.databox .databox_options .opt_right{
  float: right;
}
.opt_right .pager{
  display: inline-block;
  vertical-align: middle;
  margin-right: 2em;
}
.opt_right > *:last-child{
  margin-right: 0;
}
.databox .datatable{
  text-align: left;
  width: 100%;
}
.databox .datatable tbody{
  border-top: 1px solid #a4a4a4;
  border-bottom: 1px solid #a4a4a4;

  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
}
.databox .datatable th, .databox .datatable td{
  padding: 0.8em 1.5em;
  border-bottom: 1px dotted #a4a4a4;
}
.databox .datatable td{
  background-color: #fff;
  vertical-align: top;
}
.databox .datatable td.empty{
  text-align: center;
  padding: 2em;
}
/*****************mask*************************/
.masking{ background-color:#000000; left:0; opacity:0.46; position:absolute; top:0;_filter:alpha(opacity=46); }
.interactive-wrapper .loading{
  background: image-url('member/app_list/ajax_loader_min.gif') no-repeat scroll 0 center transparent;
  padding-left: 20px;
}
/*button*/

/***************arrowbox******************
.arrowbox{position:absolute; top:100px; left:100px; text-align: left;clear:both;float:none;background: transparent url(/resources/core/plugin/interactive/default/interactive_bg.png) repeat 0 0;padding:4px;
	-webkit-box-shadow: -1px -2px 7px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: -1px -2px 7px 0px rgba(0, 0, 0, 0.6);
	box-shadow: -1px -2px 7px 0px rgba(0, 0, 0, 0.6);
	z-index: 901;
}
.arrowbox .interactive-wrapper{padding:7px;background: transparent url(/resources/core/plugin/interactive/default/interactive_bg.png) repeat 0 0;}
.arrowbox .jquery-interactive-wrapper{border:medium null;_zoom:1}
.arrowbox .jquery-interactive-wrapper td{border:medium null;padding:0;}
.arrowbox .jquery-interactive-wrapper .wrapperTL,.arrowbox .jquery-interactive-wrapper .wrapperTR,.arrowbox .jquery-interactive-wrapper .wrapperBL,.arrowbox .jquery-interactive-wrapper .wrapperBR{
	padding-left:4px;height:4px;width:0px;word-spacing:-5px;
	background-color:#fff;
}
.arrowbox .jquery-interactive-wrapper .wrapperTC,.arrowbox .jquery-interactive-wrapper .wrapperML,.arrowbox .jquery-interactive-wrapper .wrapperMR,.arrowbox .jquery-interactive-wrapper .wrapperBC{
	padding-left:4px;word-spacing:-5px;width:0px;
	background-color:#fff;
}
.arrowbox .interactive-arrow{display:block;background-image: url(/resources/core/plugin/interactive/default/arrow.gif);background-repeat: no-repeat;position:absolute;text-indent:-99px;overflow:hidden;z-index:10}
.arrowbox .interactive-arrow-up{background-position:-15px 0; width:15px;height:8px;bottom:-4px;_bottom:-7px}
.arrowbox .interactive-arrow-down{background-position:-15px -7px; width:15px;height:8px;top:-4px;_top:-7px}
.arrowbox .interactive-arrow-left{background-position:0 0; width:8px;height:15px;right:-4px;_right:-7px}
.arrowbox .interactive-arrow-right{background-position:-7px 0; width:6px;height:12px;left:-2px;_left:-6px} 
.arrowbox .interactive-title{}
.arrowbox .interactive-title h2{font-weight: normal;margin-bottom:0;padding: 0 0 7px;color:#fff;height:18px;line-height:18px;color:#fff;font-size:14px;}
.arrowbox .interactive-title .interactive-closed{ position:absolute; right:0px; top:0px;z-index:9}
.arrowbox .interactive-title .interactive-closed a{ text-decoration:none;}
.arrowbox .interactive-title .interactive-closed .close_gray{ position:static}
.arrowbox .close_gray:hover .icon{ background-position:0 -5em;}
.arrowbox .interactive-main{position:relative;min-width:220px;word-wrap: break-word;_zoom:1}
.arrowbox .interactive-main:after{ content:"."; clear:both; display:block; height:0;  visibility:hidden}
.arrowbox .interactive-main .interactive-content{padding:0 12px 12px;background-color:#fff;}
.arrowbox .interactive-main .interactive-error{ position:relative;margin:10px 10px 0; padding:5px 20px 5px 5px; color:#c33;background:#FFE3DF;border:1px solid #F77677;display:none;}
.arrowbox .interactive-main .interactive-error a{ position:absolute;right:5px;_right:18px;}
.arrowbox .interactive-success{padding:2em 0;text-align:center;color: #72BA0C;font-size: 14px;font-weight: bold;display:none;}

.arrowbox .interactive-bottom{ background-color:#fff;padding:0 0px 10px;text-align:right;min-width:164px;_width:164px;_overflow:visible}
.arrowbox .interactive-bottom button{padding:0; *margin: 0 5px;}
.arrowbox .interactive-bottom .interactive-loading{display:inline-block; height:16px; width:16px; padding-right:5px; font-size:0;*line-height:0px; *overflow:hidden;background: url(/resources/core/plugin/interactive/default/ajax_loader_min.gif) no-repeat;visibility:hidden; position:absolute;left:10px;bottom:14px}
*/
/***************arrowbox*******************/
.arrowbox{position:absolute; top:100px; left:100px; text-align: left;clear:both;float:none;z-index: 901;}
.arrowbox .interactive-wrapper{padding:0;color:#ffffff;background:#555555;border:1px solid #555555; border-radius: 2px;box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);}
.arrowbox .jquery-interactive-wrapper{border:medium null;_zoom:1}
.arrowbox .jquery-interactive-wrapper td{border:medium null;padding:0;}
.arrowbox .jquery-interactive-wrapper .wrapperTL{
  padding-left:3px;height:3px;width:0px;word-spacing:-5px;
  background:image-url('/member/app_list/wrapperTL.png') no-repeat 0 0;
  //  '_filter':progid:DXImageTransform.Microsoft.AlphaImageLoader {enabled:bEnabled,sizingMethod:crop,src="/member/app_list/wrapperTL.png" }';
  _background:transparent none;
}
.arrowbox .jquery-interactive-wrapper .wrapperTR{
  padding-left:3px;height:3px;width:0px;word-spacing:-5px;
  background:image-url('/member/app_list/wrapperTR.png') no-repeat 0 0;
  //  '_filter':'progid.DXImageTransform.Microsoft.AlphaImageLoader {enabled:bEnabled , sizingMethod:crop , src="/member/app_list/wrapperTR.png" }';
  _background:transparent none;
}
.arrowbox .jquery-interactive-wrapper .wrapperBL{
  padding-left:3px;height:3px;width:0px;word-spacing:-5px;
  background:image-url('/member/app_list/wrapperBL.png') no-repeat 0 0;
  //  '_filter':'progid:DXImageTransform.Microsoft.AlphaImageLoader {enabled:bEnabled , sizingMethod:crop , src="/member/app_list/wrapperBL.png" }';
  _background:transparent none;
}
.arrowbox .jquery-interactive-wrapper .wrapperBR{
  padding-left:3px;height:3px;width:0px;word-spacing:-5px;
  background:image-url('/member/app_list/wrapperBR.png') no-repeat 0 0;
  //  '_filter':'progid:DXImageTransform.Microsoft.AlphaImageLoader {enabled:bEnabled , sizingMethod:crop , src="/member/app_list/wrapperBR.png" }';
  _background:transparent none;
}
.arrowbox .jquery-interactive-wrapper .wrapperTC,.arrowbox .jquery-interactive-wrapper .wrapperML,.arrowbox .jquery-interactive-wrapper .wrapperMR,.arrowbox .jquery-interactive-wrapper .wrapperBC{
  padding-left:3px;word-spacing:-5px;width:0px;
  background:image-url('/member/app_list/wrapperC.png') repeat 0 0;
  //  '_filter':'progid:DXImageTransform.Microsoft.AlphaImageLoader {enabled:bEnabled , sizingMethod:scale , src="/member/app_list/wrapperC.png" }';
  _background:transparent none;
}
.arrowbox .interactive-arrow{display:block;background-image: image-url('member/app_list/arrow.gif');background-repeat: no-repeat;position:absolute;text-indent:-99px;overflow:hidden;z-index:10}
.arrowbox .interactive-arrow-up{background-position:-8px 0; width:8px;height:4px;bottom:-4px;_bottom:-7px}
.arrowbox .interactive-arrow-down{background-position:-8px -4px; width:8px;height:4px;top:-4px;_top:-7px}
.arrowbox .interactive-arrow-left{background-position:0 0; width:4px;height:8px;right:-4px;_right:-7px}
.arrowbox .interactive-arrow-right{background-position:-4px 0; width:4px;height:8px;left:-4px;_left:-6px}
.arrowbox .interactive-title{padding:12px 10px 0;color:#333333;font-size:14px;}
.arrowbox .interactive-title h2{font-weight: bold;font-size:12px;margin-bottom:0}
.arrowbox .interactive-title .interactive-closed{ position:absolute; right:0px; top:2px;z-index:9}
.arrowbox .interactive-title .interactive-closed a{ text-decoration:none;}
.arrowbox .interactive-title .interactive-closed .close_gray{ position:static}
.arrowbox .close_gray:hover .icon{ background-position:0 -5em;}
.arrowbox .interactive-main{position:relative;min-width:220px;word-wrap: break-word;_zoom:1}
.arrowbox .interactive-main:after{ content:"."; clear:both; display:block; height:0;  visibility:hidden}
.arrowbox .interactive-main .interactive-content{padding:0 12px 12px;}
.arrowbox .interactive-main .interactive-error{ position:relative;margin:0 0 10px; padding:5px 20px 5px 5px; color:#c33;background:#FFE3DF;border:1px solid #F77677;display:none;}
.arrowbox .interactive-main .interactive-error a{ position:absolute;right:5px;_right:18px;}
.arrowbox .interactive-success{padding:2em 0;text-align:center;color: #72BA0C;font-size: 14px;font-weight: bold;display:none;}

.arrowbox .interactive-bottom{ padding:1em 0px 8px;min-width:164px;_width:164px;_overflow:visible}
/*.arrowbox .interactive-bottom button{padding:0; *margin: 0 5px;}*/
.arrowbox .interactive-bottom .interactive-loading{display:none; height:16px; width:16px; padding-right:5px; font-size:0;*line-height:0px; *overflow:hidden;background: image-url('member/app_list/ajax_loader_min.gif') no-repeat;visibility:hidden; position:absolute;left:10px;bottom:14px}


/*
#jquery-interactive-box2.arrowbox{
	padding:1px 1px 6px 6px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 10px 5px 10px 10px;
	border-radius: 10px 5px 10px 10px;
	-webkit-box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.6);
	box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.6);
}
#jquery-interactive-box2.arrowbox .interactive-wrapper{
	background:#fff none;border:medium none;
	padding:6px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
#jquery-interactive-box2.arrowbox .interactive-content{
	padding:0;
}
#jquery-interactive-box2.arrowbox .interactive-arrow-up{background-position:-15px 0; width:15px;height:8px;bottom:-8px;_bottom:-7px}
#jquery-interactive-box2.arrowbox .interactive-arrow-down{background-position:-15px -7px; width:15px;height:8px;top:-8px;_top:-7px}
#jquery-interactive-box2.arrowbox .interactive-arrow-left{background-position:0 0; width:8px;height:15px;right:-12px;_right:-16px}
#jquery-interactive-box2.arrowbox .interactive-arrow-right{background-position:-7px 0; width:6px;height:12px;left:-12px;_left:-16px}
*/
#jquery-interactive-blockbox.arrowbox{
  position:absolute;
  top:100px;
  left:100px;
}
#jquery-interactive-blockbox.arrowbox .interactive-main{
  background:transparent none;
  padding: 30px 50px;
}
#jquery-interactive-blockbox.arrowbox .interactive-wrapper{
  background-color:#ffffff;
  border:1px solid #ffffff;
  padding:0;
  border-radius: 0;
  color:#515151;
}
#jquery-interactive-blockbox.arrowbox .interactive-content{
  background: transparent none;
  padding: 0;
}
#jquery-interactive-blockbox.arrowbox .interactive-bottom{
  background: transparent none;
}
#jquery-interactive-blockbox.arrowbox .interactive-title{
  position: relative;
  padding:0 0 19px;
}
#jquery-interactive-blockbox.arrowbox .interactive-title h2{
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 0;
}
#jquery-interactive-blockbox.arrowbox .interactive-title .interactive-closed {
  font-size: 12px;
  top: 0;
}
#jquery-interactive-blockbox.arrowbox .interactive-title .interactive-closed a{}


#jquery-interactive-errormsg.arrowbox{background:transparent none;
  border:medium none;
  padding:0;box-shadow: 0 0 0 0 transparent;}
#jquery-interactive-errormsg.arrowbox .interactive-main{padding: 0;min-width:4em;_width:auto;background:transparent none;_zoom:1}
#jquery-interactive-errormsg.arrowbox .interactive-arrow{display:none}
#jquery-interactive-errormsg.arrowbox .interactive-title{display:none}
#jquery-interactive-errormsg.arrowbox .interactive-wrapper{color:#bc0a0a;line-height:30px;padding:0;background:transparent none;border:medium none;box-shadow:none;}
#jquery-interactive-errormsg.arrowbox .interactive-main .interactive-content{padding:0;_zoom:1;background:transparent none;}
#jquery-interactive-errormsg.arrowbox .interactive-main .interactive-content .icon{margin-right:4px;}

#jquery-interactive-successmsg.arrowbox{background:transparent none;
  border:medium none;
  color:#709804;line-height:30px;padding:0;box-shadow: 0 0 0 0 transparent;}
#jquery-interactive-successmsg.arrowbox .interactive-main{padding: 0;min-width:4em;_width:auto;background:transparent none;_zoom:1}
#jquery-interactive-successmsg.arrowbox .interactive-arrow{display:none}
#jquery-interactive-successmsg.arrowbox .interactive-title{display:none}
#jquery-interactive-successmsg.arrowbox .interactive-wrapper{padding:0;background:transparent none;border:medium none;}
#jquery-interactive-successmsg.arrowbox .interactive-main .interactive-content{padding:0;_zoom:1;background:transparent none;}
#jquery-interactive-successmsg.arrowbox .interactive-main .interactive-content .icon{margin-right:4px;}


#jquery-interactive-noticemsg.arrowbox{background:transparent none;
  border:medium none;
  color:#2e2e60;line-height:30px;padding:0;box-shadow: 0 0 0 0 transparent;}
#jquery-interactive-noticemsg.arrowbox .interactive-main{padding: 0;min-width:4em;background:transparent none;}
#jquery-interactive-noticemsg.arrowbox .interactive-arrow{display:none}
#jquery-interactive-noticemsg.arrowbox .interactive-title{display:none}
#jquery-interactive-noticemsg.arrowbox .interactive-wrapper{padding:0;background:transparent none;border:medium none;}
#jquery-interactive-noticemsg.arrowbox .interactive-main .interactive-content{padding:0;_zoom:1;background:transparent none;}
#jquery-interactive-noticemsg.arrowbox .interactive-main .interactive-content .icon{margin-right:4px;}

.interactive-plusminus{
  font-size:22px;
  height:88px;
  overflow:hidden;
  z-index:1999;padding:0;
}
.interactive-plusminus .expander{
  height:66px;
}
.interactive-plusminus span.plus{
  color:#72BA0C;
}
.interactive-plusminus span.minus{
  color:#FF5D00;
}

#jquery-interactive-inbox.arrowbox{
  position:relative;
  top:0;
  left:0;
}
#jquery-interactive-inbox.arrowbox .interactive-wrapper{
  background: transparent none;
  box-shadow: none;
  border: medium none;
}
#jquery-interactive-inbox.arrowbox .interactive-wrapper {
  color: #515151;
}
#jquery-interactive-inbox.arrowbox .interactive-title h2{
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 0;
}
.createSteps{
  margin: 1.5em 0 2em;
  background-color: #b2b2b2;
  color: #fff;
  list-style: none;
  overflow: hidden;
  height: 30px;
  position: relative;
}
.createSteps li{
  margin-right: 3em;
  margin-left: -3em;
  background-color: #b2b2b2;
  float: left;
}
.createSteps li .inner{
  position: relative;
  padding: 0.5em 3em;
}
.createSteps li.first{
  padding-left: 0.5em;
  margin-left: 0;
}
.createSteps li.last{
  float: none;
  margin-left: 0;
  margin-right: 0;
}
.createSteps li.done, .createSteps li.current{
  background-color: #F26535;
}
.createSteps li.current{
  font-weight: bold;
}
.createSteps li .arrow, .createSteps li .arrow em{
  display: block;
  height: 32px;
  width: 32px;

}
.createSteps li .arrow{
  position: absolute;
  right:-16px;
  top:-1px;
  z-index: 2;
  top:-10px\9;
}
.createSteps li .arrow em{
  background-color: #fff;
  background-color: #b2b2b2;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  overflow: hidden;
  -moz-transform:    rotate(45deg);
  -o-transform:      rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform:         rotate(45deg);

  /* IE */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
  //  #filter: progid:DXImageTransform.Microsoft.Matrix(
  //          M11=0.7071067811865474,
  //          M12=-0.7071067811865477,
  //          M21=0.7071067811865477,
  //          M22=0.7071067811865474,
  //          SizingMethod='auto expand');
}
.createSteps li.done .arrow em, .createSteps li.current .arrow em{
  background-color: #F26535;
}
.createSteps li.last .arrow{
  display: none;
}

/*appadd.css*/

/*æ­¥éª¤*/
#main{
  margin-top: 30px;
}

.main{
  padding-top: 43px;
  padding-bottom: 15px;
}

.clearfix h2{
  margin-bottom: 0;
}

/*.keyvalue p{
	padding: 8px 0;
}*/

.keyvalue dfn, .keyvalue .key{
  width: 8em;
}

.keyvalue p{
  position: relative;
}

.icon_not_write{
  position: absolute;
  top: -15px;
  left: -40px;
}

#type_errors{
  top: -18px;
}

.interactive-wrapper .interactive-title{
  padding: 0;
}

.arrowbox .interactive-main .interactive-content {
  padding: 4px 0 4px 20px;
}

.arrowbox .interactive-main{
  min-width: 180px;
}

.interactive-wrapper{
  margin-left: 9px;
}

.keyvalue .tip{
  color: #c1c1c1;
}

.customCheckbox{
  vertical-align: text-top;
}

.createSteps{
  height: 40px;
  margin-top: 1em;
  margin-bottom: 4em;
  background-color: #F5F5F5;
}

.createSteps li.current{
  color:#fff;
}

.createSteps li .inner{
  padding: 0.8em 5.5em;
}

.createSteps li{
  background-color:#F5F5F5;
  color:#c1c1c1;
}

.createSteps li .arrow em{
  background-color: #F5F5F5
}

.createSteps li .arrow, .createSteps li .arrow em{
  width: 40px;
  height: 40px;
}


/*textarea*/
.app_pro{
  vertical-align: top;
}

#testTextbox_maxLength_left{
  position: relative;
  top:57px;
  right: 107px;
  color:#DBDBDB;
}
#testTextbox_maxLength_left em{
  font-size: 16px;
  font-weight: bold;
}

.keyvalue .actions {
  padding-top: 2.8em;
}
.dis_h dfn,.setting_editor_line dfn{
  width: 9em;
}
.field_with_errors {display: inline;}
.keyvalue h2{
  color:#4FBC78;
  margin-bottom: 1.7em;
}